<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instrument cluster</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <script src="../static/scripts/main.js"></script>
  </head>
<body>

    <div class="left-div">
      <div class="temperature">
        <div class="tempfill"></div>
      </div>
      <p id="temptxt">Temperature</p>
      <p id="tempnum">90°C</p>
    </div>

    <div class="middle-container">
      <div class="top-middle-div">
        <img class="status-icon" id="Left_Indicator" src="../static/assets/img/left.png">
        <img class="status-icon" id="Check_engine" src="../static/assets/img/CE.jpg">
        <img class="status-icon" id="High_Beam_Indicator" src="../static/assets/img/High_Beam_Indicator.svg.png">
        <img class="status-icon" id="sus" src="../static/assets/img/among-us-icon-png-01.png">
        <img class="status-icon" id="Right_Indicator" src="../static/assets/img/right.png">
      </div>
      <div class="bottom-middle-div">
        <div class="trapezoid-container">
          <div class="trapezoid">
            <div class="inner-trapezoid">
              <p class="speed">42</p>
            </div>
          </div>
        </div>
        </div>
        <div class="ODO-TRIP">
          <span id="trip">1234km | </span>
          <span id="ODO">4321km</span>
      </div>
    </div>
    
    <div class="right-div">
      <div class="fuel-level">
        <div class="fuelfill"></div>
      </div>
      <p id="fuelnum">50%</p>
    </div>

</body>
</html>
