body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.left-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15%;
  border-right: 1px solid darkgrey;
  height: 100%;
}
#temptxt{
  font-size: 21px;
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 31px;
  font-weight: bold;
}
#tempnum{
  font-size: 56px;
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  margin: 16px;
  font-weight: bold;
}

.middle-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  min-height: 100%;
}

.top-middle-div {
  display: flex;
  justify-content: space-between ;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid darkgrey;
  margin-top: 16px 0;

  align-self: flex-start;
  flex-shrink: 0; /* Prevent shrinking */ 
}
.status-icon{
  height: 50px;
  width: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 25px;
  padding-right: 25px;
}
#Left_Indicator{
  visibility: visible;
}
#High_Beam_Indicator{
  visibility: visible;
}
#Right_Indicator{
  visibility: visible;
}
#Check_engine{
  visibility: visible;
}
#sus{
  visibility: visible;
}

.bottom-middle-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  /*border: 2px solid white;*/
  margin: 10px 0;
  margin-bottom: 0px;
  height: 100%;
  flex-grow: 1; /* Fill the remaining space */
  align-self: flex-start; /* Anchor to the top */
  flex-direction: column;
  align-items:center;
}
.trapezoid-container{
  position: fixed;
  align-self: center;
  margin-top: -50px;
  height: 400px;
  width: 600px;
  display: flex;
  justify-content:flex-start;
  flex-direction: column-reverse;
  overflow: hidden;
}
.trapezoid {
  width: 450px; /* Change the width as needed */
  height: 0;
  border-left: 150px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 300px solid whitesmoke; /* Change the height and color as needed */
  z-index: -1;
  
}
.inner-trapezoid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px; /* Change the width as needed */
  height: 0;
  border-left: 150px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 300px solid black; /* Change the height and color as needed */
  position:relative;
  top: 80px;
  left:-80px;
  z-index: 0;
}
.speed{
  position: relative;
  padding-top:   55%;
  padding-left: -40%;
  padding-right: 40%;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  font-size: 128px;
  font-weight: bold;
}
.ODO-TRIP{
  font-family: Arial, Helvetica, sans-serif;
  position:relative;
  height: 10%;
  width: auto;
  color: white;
  padding: 16px;
  font-size: 30px;
}

.right-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15%;
  border-left: 1px solid darkgrey;
  height: 100%;
}
.fuel-level{
  margin-top: 50%;
  background-color: lightgray;
  height: 220px;
  width: 50px;
}
.fuelfill {
  position: relative;
  left: 5%;
  top: 1%;
  width: 90%; /* Set the width to 50% */
  height: 50%; /* Set the height as needed */
  background-color: black; /* Set your desired color */
}
#fuelnum{
  font-size: 56px;
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  margin: 16px;
  padding-bottom: 10%;
  font-weight: bold;
}
